[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
typing-extensions = "*"
typing = "*"
fastapi = "*"
uvicorn = "*"
aiohttp = "*"
asyncio = "*"
numpy = "*"
pandas = "*"
aiometer = "*"
nest-asyncio = "*"
pre-commit = "*"
mypy = "*"

[dev-packages]
pipenv = "*"
black = "*"
pyright = "*"
pydocstyle = "*"
pytest = "*"

[requires]
python_version = "3.10.4"
